@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  /* Backgrounds */
  --color-ui-bg: #f4f1ec;
  --color-ui-bg-muted: #ebe7e1;

  /* Text */
  --color-ui-text: #201c24;
  --color-ui-text-muted: #6f6b73;
  --color-ui-text-dimmed: #9a96a0;

  /* Borders */
  --color-ui-border: #e5e0d9;
  --color-ui-border-muted: #f0ece7;

  /* Primary Brand */

  /* Neutral / Sidebar */
  --color-grays-50: #f0edeb;
  --color-grays-100: #f7f4f0;
  --color-grays-200: #f2f0ed;
  --color-grays-300: #f5ede6;
  --color-grays-400: #f8f1ea;
  --color-grays-500: #6e6766;
  --color-grays-600: #5d4457;
  --color-grays-700: #3d3745;
  --color-grays-800: #2b2731;
  --color-grays-900: #211e24;
  --color-grays-950: #161419;
}
